---
import Layout from '@/layouts/Layout.astro';
import Providers from '@/components/layout/Providers';
import About from '@/components/sections/About';
import Footer from '@/components/layout/Footer';
import { skills } from '@/data/skillsData';
---

<Layout
  title="Vedhasagaran | Software Engineer"
  description="Welcome to Vedhasagaran's portfolio. Experienced full stack developer specializing in modern web technologies, Astro, Angular, React, Node.js, C# and innovative user experiences."
  image="/assets/images/og-image.jpeg"
>
  <Providers client:load skills={skills} showHero={true} />
  
  <div class="flex flex-col items-center justify-center gap-32 w-full px-6 pb-16 pt-36">
    <div id="about" class="w-full max-w-4xl">
      <About client:visible />
    </div>
  </div>

  <Footer />
</Layout>